input.xsd

<?xml version="1.0"?>

<!--

input.xsd
Defines the sheme for the associated xml file must have
24-11-2013
Author: Paul Karlshöfer, Andreas Schmelz, Friedrich Menhorn

-->

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">

  <xsd:complexType name="input_t">

    <xsd:annotation>
      <xsd:documentation>
        Input file for MolSim
      </xsd:documentation>
    </xsd:annotation>

    <xsd:sequence>

      



      <xsd:element name="base_output_file" type="xsd:string"></xsd:element>

      <xsd:element name="frequency" type="xsd:integer"></xsd:element>

     <xsd:element name="delta_t" type="xsd:float"></xsd:element>

     <xsd:element name="tend" type="xsd:integer"></xsd:element>

     <xsd:element name="input_file" type="xsd:string"></xsd:element>

    </xsd:sequence>
  </xsd:complexType>

  <xsd:element name="input" type="input_t">
    <xsd:annotation>
      <xsd:documentation>
        Root whatever
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>

</xsd:schema>
